#Ignore everything
*

#Whitelist subdirectories
!*/

#Whitelist the gitignore itself
!.gitignore

#Whitelist .cpp and .h files
!*.c
!*.h
!*.hpp
!*.cpp
!*.java
!*.py
!.vscode
!*.cpp

!docker-compose.yml